<h1>QuestionsController - Ask!</h1>
<form class=".form-control-lg" action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask a question">
  <input class="btn btn-primary" type="submit">
</form>
